@import url("./reset.css");
@import url("../font/pretendard.css");

.inner {
	width: 1200px;
}

.mainpage_banner {
	position: relative;
	background: #e4f6ff;
	width: 100%;
	height: 730px;
}
.main_banner_txt_wrap {
	height: 100%;
}
.main_banner_txt_wrap .main-banner-txt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main_banner_txt_wrap .main-banner-icon {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.main-cont-area-01 {
	margin: 70px 0;
}
.main-cont-area-01 .cotn-item-wrap p {
	font-weight: 700;
	color: #383838;
}
.main-cont-area-01 .cotn-item-wrap p:last-child {
	margin-top: -10px;
}

.main-cont-area-02 {
	background: #f2f2f2
}
.main-cont-area-02 .cont-item-wrap {
	padding: 70px 0;
	gap: 150px;
} 
.main-cont-area-02 .cont-item-wrap .cont-item {
	width: 256px;
	text-align: center;
}
.main-cont-area-02 .cont-item-wrap .cont-item .txt-area .cont-title {
	color: #2b2b2b;
	font-weight: 700;
	margin: 40px 0 20px;
}

.main-cont-area-03 {
	height: 650px;
	position: relative;
	background: url("../../images/main_banner_img02.png")
}
.main-cont-area-03 .cont-item-wrap {
	width: 485px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
}
.main-cont-area-03 .cont-item-wrap .sub-txt {
	margin: 20px 0 40px;
}

.footer-area {
	background: #1f2353;
	color: #fff;
	padding: 70px 0 40px;
}

.sub-cont-top-banner {
	background: url("../../images/subpage_top-banner_img.png");
	height: 240px;
	color: #fff;
	position:relative;
}
.sub-cont-top-banner .txt-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.subpage-cont-wrap-02 {
	height: 661px;
	background: #f2f2f2;

	padding: 70px 0;
}
.subpage-cont-wrap-02 .cont-item {
	position: relative;
}
.subpage-cont-wrap-02 .cont-item .line {
	width: 2px;
	height: 400px;
	background: #2d2d2d;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.subpage-cont-wrap-02 .cont-item .item {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #3595d5;
} 
.subpage-cont-wrap-02 .cont-item .item p {
	position: absolute;
	width: 250px;
}
.subpage-cont-wrap-02 .cont-item .item.this::after {
	content: "";
	display: inline-block;
	background: #fff;
	width: 25px;
	height: 25px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

.subpage-cont-wrap-03 {
	padding: 70px 0;
}
.subpage-cont-wrap-03 .map-area {
	width: 100%;
	height: 600px;
	background: #cecece;
}

.product-info-cont-wrap-02 {
	background: #f2f2f2;
}
.product-info-cont-wrap-02 .custom-nav-tabs {
	width: 100%;
}

.product-info-cont-wrap-02 .custom-tab-content {
	width: 100%;
	height: 800px;
	text-align: center;
}

.subpage-cont-title {
	font-family: Pretendard, sans-serif;
	font-size: 25px;
	font-weight: 700;
}
.subpage-cont-01 {
	background: #fafafa;
	padding: 40px 0;
}
.subpage-cont-01 .inner .subpage-cont-title {
	text-align: center;
}
.subpage-cont-02 {
	padding: 100px 0;
}
.subpage-cont-02 .inner .subpage-cont-title {
	text-align: left;
}
.subpage-card-wrap .subpage-card-conte-01 p,
.subpage-card-wrap .subpage-card-conte-02 p {
	font-size: 20px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
}
.subpage-cont-03 .inner .left p:first-child {
	font-size: 25px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
}
.subpage-cont-03 .inner .left p:last-child {
	margin-top: -15px;
	font-size: 16px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
} 
.subpage-cont-03 .inner .right p:last-child {
	font-size: 16px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
}
.subpage-cont-03 table thead tr th {
	text-align: center;
	background: #d9d9d9;
	font-size: 16px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
	padding: 10px 0;
}
.subpage-cont-03 table tbody tr td {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px 0;
	text-align: center;
	font-size: 16px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
}
.subpage-cont-03 .subpage-cont-03-txt-box {
	background: #f3f3f3;
	height: 223px;
	border-radius: 20px;
	margin: 100px 0;
}
.subpage-cont-03 .subpage-cont-03-txt-box p {
	font-size: 16px;
	font-family: Pretendard, sans-serif;
	font-weight: 700;
	text-align: center;
}
.subpage-cont-03 .subpage-cont-03-txt-box p:first-child {
	font-size: 25px;
} 
.subpage-cont-03 .subpage-cont-03-txt-box p:last-child {
	margin-top: -10px;
	font-size: 30px;
}